sudo: false
language: cpp
compiler:
  - gcc
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-8
install:
- "[ $CXX = g++ ] && export CXX=g++-8 || true"
script:
  - make
  - make test
