language: cpp
compiler: gcc
sudo: require
dist: trusty

before_install:
  - sudo add-apt-repository ppa:beineri/opt-qt593-trusty -y
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt59base libgl1-mesa-dev curl zip
  - source /opt/qt*/bin/qt*-env.sh
  - mkdir -p astree/usr/share/metainfo
  - mkdir -p astree/usr/bin
  - cp astree.appdata.xml astree/usr/share/metainfo/
  - cp Astree astree/usr/bin/astree
  - mkdir -p astree/usr/share/icons/hicolor/scalable/apps
  - touch astree/usr/share/icons/hicolor/scalable/apps/astree.svg
  - mkdir -p astree/usr/share/applications
  - cp astree.desktop astree/usr/share/applications/astree.desktop
  - mkdir -p astre/usr/share/samples
  - mkdir -p astre/usr/share/samples/afocal
  - mkdir -p astre/usr/share/samples/eyepieces
  - mkdir -p astre/usr/share/samples/others
  - mkdir -p astre/usr/share/samples/refractors
  - mkdir -p astre/usr/share/samples/telescopes
  - mkdir -p astre/usr/share/samples/zmx
  - cp -r samples/afocal/* astre/usr/share/samples/afocal
  - cp -r samples/eyepieces/* astre/usr/share/samples/eyepieces
  - cp -r samples/others/* astre/usr/share/samples/others
  - cp -r samples/refractors/* astre/usr/share/samples/refractors
  - cp -r samples/telescopes/* astre/usr/share/samples/telescopes
  - cp -r samples/zmx/* astre/usr/share/samples/zmx
  - mkdir -p astree/usr/glass
  - cp -r glass/* astree/usr/glass

build:
  - cd src/gui
  - qmake CONFIG+=release PREFIX=/usr
  - make -j$(nproc)
  - cd ../..
  
script:
  - find astree/
  - wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
  - chmod a+x linuxdeployqt-continuous-x86_64.AppImage
  - ./linuxdeployqt-continuous-x86_64.AppImage astree/usr/share/applications/astree.desktop -appimage

after_success:
  - wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
  - bash upload.sh Astree*.AppImage*
  - zip -v Astree-nightly.zip Astree*.AppImage*
  - curl --upload-file Astree-nightly.zip https://transfer.sh/Astree-nightly.zip
  - echo ""

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/
